{% extends 'atlas_base.html.twig' %}

{% block body %}

<div>
    <h3 class="text-center px-2.5"><i>Select a geological age from the list to explore the taxa</i></h3>
</div>

<div class="flex items-center justify-center">
    <div id="upper-panel" data-controller="age-list" class="mx-auto grid grid-cols-5 gap-y-2.5 gap-x-5 p-5">
        
        {% for age in listOfAges %}
            <div><a class="js-age-list" id="age{{ age.getId }}" href="#"><i> {{ age.getName }} </i></a></div>
        {% endfor %}
    
    </div>
</div>

<div id="rightColumn" class="mx-2.5 grid grid-cols-3 gap-0.5 p-5">
</div>

{% endblock %}
