
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> IDE files ###
/.idea
###< IDE files ###

###> irrelevant classes ###
/src/Entity/Update.php
/src/Repository/UpdateRepository.php
/src/Entity/SearchResult.php
/src/Repository/SearchResultRepository.php
###< irrelevant classes ###