{% extends 'atlas_base.html.twig' %}

{% block body %}

<div class="mx-2.5 grid grid-cols-3 gap-2">

{% for photo in photos %}
    <div>
        {{ photo.getTaxon.getGenus.getName }} {{ photo.getTaxon.getSpecies.getName }} {{ photo.getTaxon.getSpecies.getAuthority }} ({{ photo.getTaxon.getSpecies.getDateProposed }})
    </div>
{% endfor %}

</div>

{% endblock %}
