{% extends 'base.html.twig' %}

{% block body %}

<div class="grid grid-cols-5 gap-2 mx-2.5">
    <div class="col-span-2 p-4">
        <img src= {{ asset('images/jw.jpg') }} alt="Website author picture" />
    </div>

    <div class="col-span-3 p-4">
        <p>My name is Jakub Witkowski. I work at the Institute of Marine and Environmental Sciences at University of Szczecin, Poland.</p>
        <p>I graduated from Polish language and literature (2007, University of Szczecin), and geology at University of Warsaw (2008). 
        I also earned my PhD and DSc degrees (2012, 2018, respectively) at the Faculty of Geology, University of Warsaw.</p>
        <p> I led several research projects, and have vast experience in collaborative research. On multiple occasions, I received prizes
        and honorary mentions for my scientific work, including stipends from the Foundation for Polish Science, Ministry of Science
        and Higher Education, and the Polish Academy of Sciences. In 2017, I was chosen as the mentor of the year by the students at my
        institution.</p>
        <p>I enjoy long distance running, baking bread, programming, collecting rocks, researching my family history
        (<a href="https://austriackiegadanie.wordpress.com" target="_blank">Blog Austriackie Gadanie</a> - opens in a new tab), 
        and talking about things that I find interesting.</p>
    </div>
</div>

{% endblock %}
