{% extends 'base.html.twig' %}

{% block body %}
<div class="grid grid-cols-5 gap-2 mx-2.5">
        <div class="col-span-2 p-4 flex flex-col space-y-4">
            <p><b>Address:</b><br />
            Jakub Witkowski<br/>
            Institute of Marine and Environmental Sciences<br/>
            University of Szczecin<br/>
            Mickiewicza 18<br/>
            70-383 Szczecin</p>
            <p>Office 218 (2nd floor)</p>
    
            <p><b>Office phone:</b> +48 91 444 23 73<br/>
                <b>e-mail:</b> <a href="mailto:jakub.witkowski@usz.edu.pl">jakub.witkowski@usz.edu.pl</a>
            </p>
        </div>
        <div class="col-span-3 p-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.1558935125829!2d14.533068758719564!3d53.43577849794294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47aa0938f5f471cf%3A0x19ecd950ac25ad77!2sAdama%20Mickiewicza%2018%2C%2071-899%20Szczecin!5e0!3m2!1spl!2spl!4v1678172418079!5m2!1spl!2spl" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
{% endblock %}
