{# {% form_theme taxonForm 'tailwind_2_layout.html.twig' %} #}

{% extends 'atlas_base.html.twig' %}

{% block body %}
    <h3>Search for taxon</h3>

    {# {{ form_start(taxonForm, {'attr': {'novalidate': 'novalidate'}}) }} #}
    {{ form_start(taxonForm) }}
        {{ form_widget(taxonForm) }}
        <button type="submit" class="btn btn-primary">Search</button>
    {{ form_end(taxonForm) }}
{% endblock %}
