{% extends 'atlas_base.html.twig' %}

{% block body %}

<div id="indexPageWrapper" class="grid grid-cols-5 gap-2 mx-2.5">
    <div id="leftColumn" class="col-span-1">
        <div class="py-4 space-y-4">
            <div>
                <p>Found {{ numberOfGenera }} genera:</p>
            </div>

            <div data-controller="genus-list">
                <ul>
                    {% for genus in listOfGenera %}
                        <li><a class="js-genus-list" href="#"><i> {{ genus.getName }} </i></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="rightColumn" class="col-span-4 py-4 space-y-4 text-center">
        <p>Select genus from the list on the left</p>
    </div>
</div>

{% endblock %}
