{% extends 'atlas_base.html.twig' %}

{% block body %}

<div id="upper-panel">
    <p class="text-center">Select a genus from the list to view the species:</p>
    <div class="py-4 space-y-4"> 
        <div data-controller="genus-list" class="mx-2.5 grid grid-cols-6 gap-0.5 p-5">
            
                {% for genus in listOfGenera %}
                    <div><a class="js-genus-list" href="#"><i> {{ genus.getName }} </i></a></div>
                {% endfor %}
            
        </div>
    </div>
</div>

<div id="rightColumn" class="mx-2.5 grid grid-cols-3 gap-0.5 p-5">
</div>

{% endblock %}
